.centertext {
	text-align: center;
}

.sourcefont {
	font-family: 'Source Code Pro', monospace;
}

.underline {
	text-decoration: underline;
}

.circle {
	border-radius: 50%;
	behavior: url(PIE.htc);

 	width: 12px;
 	height: 12px;
	padding: 4px;

	background: #01A9DB;
	border: 2px solid #666;
	color: #666;
	text-align: center;

	font: 10px Arial, sans-serif;
}

.pressed {
	color:white;
}

.pressed:active{
	background: #F2F5A9;
}
