.one {
	height: 150px;
	width: 135px;
	margin-bottom: 50px;
	margin-right: 50px;
	display: inline-block;
}

.two {
	margin:auto;
}

.three {
	color: black;
	background-color: #778899;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
	border: 2px solid black;
	position: absolute;
}

.circle {
	height: 25px;
	width: 25px;
	border-radius: 50%;
}
.line {
	background-color: transparent;
	border: transparent;
	border-top: 2px solid black;
}
.bottomtext {
	background-color: transparent;
	text-align: center;
	font-size: 15.5px;
	font-weight: 500;
	margin-top: 150px;/*150*/
	height: 20px;
}

.bottomtext2 {
        background-color: transparent;
        text-align: center;
        font-size: 15px;
        font-weight: 500;
        height: 20px;
}



#T-L-3 {
	margin-left: 16.67px;
	margin-top: 21.13px;
}
#T-R-3 {
	margin-left: 83.33px;
	margin-top: 21.13px;
}
#B-M-3 {
	margin-left: 50px;
	margin-top: 78.87px;
}

#T-L-4 {
	margin-left: 12.5px;
	margin-top: 12.5px;
}
#T-R-4 {
	margin-left: 87.5px;
	margin-top: 12.5px;
}
#B-L-4 {
	margin-left: 12.5px;
	margin-top: 87.5px;
}
#B-R-4 {
	margin-left: 87.5px;
	margin-top: 87.5px;
}

#T-L {
	margin-left: 0px;
	margin-top: 0px;
}
#T-LM {
	margin-left: 12.5px;
	margin-top: 0px;
}
#T-M {
	margin-left: 50px;
	margin-top: 0px;
}
#T-MMR {
	margin-left: 66.7px;
	margin-top: 0px;
}
#T-MR {
	margin-left: 87.5px;
	margin-top: 0px;
}
#T-R {
	margin-left: 100px;
	margin-top: 0px;
}
#C-L {
	margin-left: 0px;
	margin-top: 50px;
}
#C-LM {
	margin-left: 12.5px;
	margin-top: 50px;
}
#C-LMM {
	margin-left: 33.3px;
	margin-top: 50px;
}
#C-M {
	margin-left: 50px;
	margin-top: 50px;
}
#C-MR {
	margin-left: 87.5px;
	margin-top: 50px;
}
#C-R {
	margin-left: 100px;
	margin-top: 50px;
}
#CB-M {
	margin-left: 50px;
	margin-top: 75px;
}
#B-L {
	margin-left: 0px;
	margin-top: 100px;
}
#B-LM {
	margin-left: 12.5px;
	margin-top: 100px;
}
#B-M {
	margin-left: 50px;
	margin-top: 100px;
}
#B-MMR {
	margin-left: 66.7px;
	margin-top: 100px;
}
#B-MR {
	margin-left: 87.5px;
	margin-top: 100px;
}
#B-R {
	margin-left: 100px;
	margin-top: 100px;
}

#TL3-TR3 {
	height: 66.67px;
	width: 45.00px;
	margin-left: 40.17px;
	margin-top: 33.63px;
}
#TL3-BM3 {
	height: 66.67px;
	width: 45.00px;
	margin-left: -3.00px;
	margin-top: 45px;
	transform: rotate(60deg);
}
#TR3-BM3 {
	height: 66.67px;
	width: 44.67px;
	margin-left: 82.67px;
	margin-top: 44.67px;
	transform: rotate(-60deg);
}

#TL4-TR4 {
	height: 75px;
	width: 52.00px;
	margin-left: 35.67px;
	margin-top: 25px;
}
#TL4-BL4 {
	height: 75px;
	width: 52.00px;
	margin-left: -38px;
	margin-top: 25px;
	transform: rotate(90deg);
}
#TL4-BR4 {
	height: 104.07px;
	width: 83.07px;
	margin-left: -15px;
	margin-top: 47px;
	transform: rotate(45deg);
}
#TR4-BL4 {
	height: 94.07px;
	width: 83.07px;
	margin-left: 53px;
	margin-top: 47px;
	transform: rotate(-45deg);
}
#TR4-BR4 {
	height: 75px;
	width: 52px;
	margin-left: 38px;
	margin-top: 25px;
	transform: rotate(90deg);
}
#BL4-BR4 {
	height: 75px;
	width: 52px;
	margin-left: 35.67px;
	margin-top: 100px;
}

#TL-TR {
	height: 100px;
	width: 54px;
	margin-left: 35.5px;
	margin-top: 12.5px;
}
#TL-TR1 {
	height: 100px;
	width: 76px;
	margin-left: 24px;
	margin-top: 12.5px;
}
#TL-CM {
	height: 80.71px;
	width: 50.71px;
	margin-left: -20px;
	margin-top: 30px;
	transform: rotate(45deg);
}
#TL-BL {
	height: 100px;
	width: 75px;
	margin-left: -74px;
	margin-top: 12.5px;
	transform: rotate(90deg);
}
#TLM-CL {
	height: 40.54px;
	width: 28.54px;
	margin-left: 20px;
	margin-top: 20.5px;
	transform: rotate(-75.96deg);
}
#TLM-CLM {
	height: 50px;
	width: 29px;
	margin-left: -13.5px;
	margin-top: 12.5px;
	transform: rotate(90deg);
}
#TLM-CM {
	height: 62.5px;
	width: 40.5px;
	margin-left: -2.00px;
	margin-top: 25px;
	transform: rotate(53.13deg);
}
#TLM-CMR {
	height: 90.14px;
	width: 68.14px;
	margin-left: 2px;
	margin-top: 30px;
	transform: rotate(33.69deg);
}
#TLM-CR {
	height: 110.78px;
	width: 79.78px;
	margin-left: 0px;
	margin-top: 35px;
	transform: rotate(29.74deg);
}
#TLM-BM {
	height: 100.8px;
	width: 83.8px;
	margin-left: -48px;
	margin-top: 30px;
	transform: rotate(69.44deg);
}
#TM-CL {
	height: 70.71px;
	width: 48.71px;
	margin-left: 35px;
	margin-top: 25px;
	transform: rotate(-45deg);
}
#TM-CLM {
	height: 50.5px;
	width: 40.5px;
	margin-left: 40px;
	margin-top: 25px;
	transform: rotate(-53.13deg);
}
#TM-CM {
	height: 50px;
	width: 30px;
	margin-left: 23.67px;
	margin-top: 12.5px;
	transform: rotate(90deg);
}
#TM-CMR {
	height: 59.5px;
	width: 39.00px;
	margin-left: 40.5px;
	margin-top: 25px;
	transform: rotate(53.13deg);
}
#TM-CR {
	height: 56.00px;
	width: 49.00px;
	margin-left: 48.71px;
	margin-top: 25px;
	transform: rotate(45deg);
}
#TMMR-CL {
	height: 83.34px;
	width: 62.34px;
	margin-left: 35px;
	margin-top: 25px;
	transform: rotate(-36.87deg);
}
#TMMR-CLMM {
	height: 60.09px;
	width: 40.09px;
	margin-left: 62.5px;
	margin-top: 20px;
	transform: rotate(-56.31deg);
}
#TMMR-CR {
	height: 60.09px;
	width: 40.09px;
	margin-left: 58.33px;
	margin-top: 20px;
	transform: rotate(56.31deg);
}
#TMMR-BMMR {
	height: 100px;
	width: 77px;
	margin-left: -8.33px;
	margin-top: 12.5px;
	transform: rotate(90deg);
}
#TMR-CLM {
	height: 90.14px;
	width: 68.14px;
	margin-left: 52.5px;
	margin-top: 30px;
	transform: rotate(-33.69deg);
}
#TMR-CL {
	height: 65.78px;
	width: 79.78px;
	margin-left: 34px;
	margin-top: 35px;
	transform: rotate(-29.74deg);
}
#TMR-CM {
	height: 62.5px;
	width: 40.5px;
	margin-left: 87.5px;
	margin-top: 25px;
	transform: rotate(-53.13deg);
}
#TMR-CMR {
	height: 50px;
	width: 29px;
	margin-left: 62.5px;
	margin-top: 12.5px;
	transform: rotate(90deg);
}
#TMR-CR {
	height: 40.54px;
	width: 28.54px;
	margin-left: 72px;
	margin-top: 22.5px;
	transform: rotate(75.96deg);
}
#TMR-BM {
	height: 100.8px;
	width: 83.8px;
	margin-left: 88px;
	margin-top: 30px;
	transform: rotate(-69.44deg);
}
#TR-CM {
	height: 40.71px;
	width: 49.71px;
	margin-left: 80px;
	margin-top: 35px;
	transform: rotate(-45deg);
}
#TR-BR {
	height: 100px;
	width: 75px;
	margin-left: 27px;
	margin-top: 12.5px;
	transform: rotate(90deg);
}
#CL-CR {
	height: 100px;
	width: 75.67px;
	margin-left: 25.5px;
	margin-top: 62.5px;
}
#CL-CR1 {
	height: 100px;
	width: 54.00px;
	margin-left: 35.5px;
	margin-top: 62.5px;
}
#CL-BL {
	height: 50px;
	width: 30px;
	margin-left: -27px;
	margin-top: 62.5px;
	transform: rotate(90deg);
}
#CL-BM {
	height: 73.71px;
	width: 50.71px;
	margin-left: -17px;
	margin-top: 80px;
	transform: rotate(45deg);
}
#CL-BMMR {
	height: 110.34px;
	width: 60.34px;
	margin-left: -17.5px;
	margin-top: 75px;
	transform: rotate(36.87deg);
}
#CLM-BLM {
	height: 50px;
	width: 29px;
	margin-left: -13.5px;
	margin-top: 62.5px;
	transform: rotate(90deg);
}
#CLM-BM {
	height: 62.5px;
	width: 41.5px;
	margin-left: -1px;
	margin-top: 75px;
	transform: rotate(53.13deg);
}
#CLM-BMR {
	z-index: -1;
	height: 90.14px;
	width: 90.14px;
	margin-left: 0px;
	margin-top: 85px;
	transform: rotate(33.69deg);
}
#CLMM-BMMR {
	height: 70.09px;
	width: 40.09px;
	margin-left: 15px;
	margin-top: 70px;
	transform: rotate(56.31deg);
}
#CM-BL {
	height: 60.71px;
	width: 50.71px;
	margin-left: 30px;
	margin-top: 75px;
	transform: rotate(-45deg);
}
#CM-BLM {
	height: 59.5px;
	width: 38.5px;
	margin-left: 47px;
	margin-top: 75px;
	transform: rotate(-53.13deg);
}
#CM-BR {
	height: 99.71px;
	width: 47.71px;
	margin-left: 30px;
	margin-top: 70px;
	transform: rotate(45deg);
}
#CM-BMR {
	height: 62.5px;
	width: 38.5px;
	margin-left: 37.5px;
	margin-top: 75px;
	transform: rotate(53.13deg);
}
#CMR-BM {
	height: 62.5px;
	width: 41.5px;
	margin-left: 85.5px;
	margin-top: 75px;
	transform: rotate(-53.13deg);
}
#CMR-BMR {
	height: 50px;
	width: 29px;
	margin-left: 61.5px;
	margin-top: 62.5px;
	transform: rotate(90deg);
}
#CR-BM {
	height: 70px;
	width: 47.71px;
	margin-left: 90px;
	margin-top: 77.5px;
	transform: rotate(-45deg);
}
#CR-BMMR {
	height: 60.09px;
	width: 40.09px;
	margin-left: 95.83px;
	margin-top: 70px;
	transform: rotate(-56.31deg);
}
#BL-BR {
	height: 100px;
	width: 53px;
	margin-left: 35.5px;
	margin-top: 112.5px;
}
#BL-BR1 {
	height: 100px;
	width: 76px;
	margin-left: 25px;
	margin-top: 112.5px;
}
/*test for 4-path"*/
#CL-BMMR1 {
	height: 100.34px;
	width: 25.34px;
	margin-left: 4px;
	margin-top: 65px;
	transform: rotate(33.87deg);
}
